{% extends 'base.html' %}
<title>
  {% block title %}
  Email  Sheduler
  {% endblock %}
</title>
{% block body %}
<div class="alert alert-info text-center text-black" role="alert">
  Email  Sheduler
</div>

<form method="post" enctype="multipart/form-data" novalidate>
{% csrf_token %}
  <div class="row m-2 center">

      <div class="col-6 m-auto ">
        {% for fm in form %}
        {{fm.label_tag}}

        {{fm}}
        &nbsp;&nbsp;{{fm.errors}}
        {% endfor %}
        <input class="btn btn-success " type="submit" value="Set Timer" style="
    margin: 17px -14px;
">

      </div>
   
  </div>
</form>
{% endblock %}